.wave-loader {
    display: block;
    width: 84px;
    height: 84px;
    position: relative;
    text-anchor: middle;
    justify-self: center;
}

.wave-loader:before , .wave-loader:after {
    content: '';
    justify-content: space-around;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #9c1313;
    transform: translate(-50% , -100%)  scale(0);
    animation: push_401 2s infinite linear;
}

.wave-loader:after {
    animation-delay: 1s;
}

@keyframes push_401 {
    0% , 50% {
        transform: translate(-50% , 0%)  scale(1)
    }

    100% {
        transform: translate(-50%, -100%) scale(0)
    }
}